<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= web.title %></title>

	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/client/fontawesome/css/all.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
        body {
        	overflow: hidden;
        }
        .overflow {
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        	position: fixed;
        }

        #driver-popup {
        	left: 10px;
        	bottom: 10px;
        	position: absolute;
        	font-size: 14px;
        	width: 680px;        	
        	max-height: calc( 48vh - 20px );
        }

        #driver-popup form {
        	font-size: 11px;
        	position: relative;
        	margin-bottom: -7px;
        }

        #driver-popup label {
        	margin-bottom: 3px;
        }

        #driver-popup .form-group {
        	margin-bottom: 7px;
        }

        #driver-popup .input-group-text {
        	font-size: 12px;
        	line-height: 14px;
        }

        #driver-popup .card-content {
        	overflow-y: auto;
        }

        ::-webkit-scrollbar {
		  width: 0.15em;
		  height: 0.8em;
		}

		::-webkit-scrollbar-thumb {
		  background: slategray;
		}

		::-webkit-scrollbar-track {
		  background: #b8c0c8;
		}

        .top_bar {
        	top: 10px;
        	left: 380px;
        	position: absolute;
        }
        .top_bar .btn {
        	margin-right: 10px;
        	font-size: 13px;
        	background-color: #ffdb4d;
        	box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
        }

        .hidden {
        	display: none;
        }

        table {
    	    overflow-y: hidden;
        }

        table[data-driver="tariffs"] td {
        	position: relative;
        }
        table[data-driver="tariffs"] th {
			position: relative;
        }
		table[data-driver="tariffs"] th span {
			cursor: pointer;
			overflow: hidden;
        	white-space: nowrap;
        	text-overflow: ellipsis;
        	max-width: 250px;
		}
		table[data-driver="tariffs"] tr {
			transition: background-color .4s ease;
		}
		table[data-driver="tariffs"] tr.edited {
			font-weight: bold;
		}
		table[data-driver="tariffs"] tr.selected {
			background-color: #eee;
		}

        table[data-driver="tariffs"] td > div,
        table[data-driver="tariffs"] th > div {
        	top: 50%;
        	left: 50%;
        	position: absolute;
        	width: calc( 100% + 20px );
        	transform: translate(-50%, -50%);
        	transition: all .4s ease;
        	visibility: hidden;
        	opacity: 0;
        }
		table[data-driver="tariffs"] th > div {
			left: 15px;
			height: 100%;
			background: #fff;
			transform: translate(0, -50%);
		}

        table[data-driver="tariffs"] td > div.show,
        table[data-driver="tariffs"] th > div.show {
        	visibility: visible;
        	opacity: 1;
        }

        table[data-driver="tariffs"] td span,
        table[data-driver="tariffs"] th span {
			display: block;
        	cursor: pointer;
        }

		.select-color {
			z-index: 15;
			width: auto !important;
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			background-color: #fff;
		}

		.select-color-item {
			width: 16px;
			height: 16px;
			min-width: 16px;
			display: block;
			margin-right: 4px;
			border-radius: 100%;
			position: relative;
			cursor: pointer;
		}

		.select-color-item.close,
		.select-color-item.selected {
			color: #fff;
			font-weight: 300;
			text-align: center;
    		text-shadow: 0px 0px 2px black;
			font-family: "Font Awesome 5 Pro";
		}
		.select-color-item.selected:before {
			content: "\f00c";
		}

		.select-color-item.close {
			font-size: 16px;
			color: red !important;
			margin-left: 2px;
		}
		.select-color-item.close:before {
			content: "\f00d";
		}

		.color-gray {
			background-color: gray;
		}

		.color-yellow {
			background-color: yellow;
		}

		.color-orange {
			background-color: orange;
		}

		.color-violet {
			background-color: violet;
		}

		.color-brown {
			background-color: brown;
		}

		.color-darkblue {
			background-color: darkblue;
		}

		.color-lightblue {
			background-color: lightblue;
		}

		.color-black {
			background-color: black;
		}

        /*@media (print), (prefers-reduced-motion: reduce) {
		    .animated {
		        -webkit-animation-duration: 1ms !important;
		        animation-duration: 1ms !important;
		        -webkit-transition-duration: 1ms !important;
		        transition-duration: 1ms !important;
		        -webkit-animation-iteration-count: 1 !important;
		        animation-iteration-count: 1 !important;
		    }
		}*/
    </style>
</head>
<body>
	<div id="map"></div>
	<!-- <div class="top_bar">
		<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#addModal"><i class="fal fa-plus mr-1"></i> Добавить водителя</button>
		<button class="btn btn-warning btn-sm"><i class="fal fa-upload mr-1"></i> Импорт водителей</button>
	</div> -->

	<div class="card shadow animate animated hidden faster" id="driver-popup">
		<div class="card-title">
			<div class="card-header d-flex align-items-center">
				<b class="text-nowrap">Карточка водителя <span data-driver="id">1</span></b>
				<select data-driver="status" type="text" class="form-control form-control-sm ml-3" placeholder="Статус">
					<option value="1">Не редактировали - Серый</option>
					<option value="2">Ассенизатор, туалеты - Желтый</option>
					<option value="3">Биотуалеты - Оранжевый</option>
					<option value="4">Илосос - Фиолетовый</option>
					<option value="5">Обслуживание септика - Коричневый</option>
					<option value="6">Чистка колодцев, гидродинамика - Синий</option>
					<option value="7">Наши заказы - Бирюзовый</option>
					<option value="8">На другой случай - Тёмно-серый</option>
				</select>
				<div class="custom-control custom-checkbox ml-3">
				  <input data-driver="work_status" type="checkbox" class="custom-control-input" id="customCheck1">
				  <label class="custom-control-label mb-0" style="line-height: 24px;" for="customCheck1">Работает</label>
				</div>
				<div style="flex: 1"></div>
				<button href="#" data-driver="close" class="btn btn-sm float-right ml-3"><i class="fal fa-times"></i></button>
			</div>
		</div>

		<div class="card-content pl-3 pr-3 pb-3">
			<form action="">
				<div class="row">

					<!-- <div class="col-md-12 mb-3">
						<div class="form-group">
							<input data-driver="address" type="text" class="form-control form-control-sm" id="suggest" placeholder="Назначить новый адрес">
						</div>
					</div> -->

					<!-- <div class="col-md-12 mb-3">
						<div class="form-group">
							
						</div>
					</div> -->

					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">Номер телефона</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-phone fa-flip-horizontal fa-fw"></i></div>
								</div>
								<input data-driver="phone" type="text" class="form-control form-control-sm" placeholder="Назначить новый адрес" value="+7(900) 000-00-00">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">ФИО</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-user fa-fw"></i></div>
								</div>
								<input data-driver="name" type="text" class="form-control form-control-sm" placeholder="Назначить новый адрес" value="Генадий Петрович">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">Выходные</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-calendar-alt fa-fw"></i></div>
								</div>
								<select data-driver="weekend" type="text" class="form-control form-control-sm" placeholder="Назначить новый адрес">
									<option value="1">Без выходных</option>
									<option value="2">Суббота</option>
									<option value="3">Воскресенье</option>
									<option value="4">Суббота-Воскресенье</option>
									<option value="5">Понедельник</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">10км / руб</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-ruble-sign fa-fw"></i>/ 10км</div>
								</div>
								<input data-driver="price_10km" type="number" class="form-control form-control-sm" placeholder="Назначить новый адрес" value="250">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">Шланг</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text">Шланг</div>
								</div>
								<input data-driver="hose" type="text" class="form-control form-control-sm" placeholder="Назначить новый адрес" value="15">
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<!-- <label for="exampleInputEmail1">Доп. шланг 5м</label> -->
							<div class="input-group input-group-sm">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="far fa-ruble-sign fa-fw"></i>/ шланг 5м</div>
								</div>
								<input data-driver="additional_hose" type="text" class="form-control form-control-sm" placeholder="Назначить новый адрес" value="15">
							</div>
						</div>
					</div>

					<div class="col-md-12 mt-2">
						<label for="exampleInputEmail1">Объявление <span data-toggle="collapse" data-target="#driverAd" class="text-muted ml-2">Показать</span></label>
						<div class="form-group collapse" id="driverAd"><textarea data-driver="ad" name=""  rows="3" placeholder="Объявление" class="form-control form-control-sm"></textarea></div>
					</div>

					<div class="col-md-12 mt-2">
						<div class="form-group"><textarea data-driver="comment" name="" id="" rows="3" placeholder="Комментарий" class="form-control form-control-sm" style="border-color: #888;"></textarea></div>
					</div>

					<div class="col-md-12 mt-3">
						<table data-driver="tariffs" class="table table-responsive table-sm">
							<thead>
								<tr>
									<th width="250px">Район</th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<a href="#" class="mt-1" data-toggle="modal" data-target="#exampleModal"><i class="fal fa-plus mr-1"></i> Добавить адрес</a>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
			    <span class="modal-title" id="exampleModalLabel">Добавление адреса</span>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <div class="modal-body">
				<div class="input-group input-group-sm">
					<input type="text" id="suggest-add-address" class="form-control" placeholder="Начните вводить адрес">
					<div class="input-group-append" id="addAddress-loading" style="display: none;">
						<div class="input-group-text"><i class="far fa-spin fa-spinner"></i></div>
					</div>
				</div>
			  </div>
			  <!-- <div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			    <button type="button" class="btn btn-primary">Save changes</button>
			  </div> -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
			    <span class="modal-title" id="addModalLabel">Добавление водителя</span>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <div class="modal-body">
			  	<form id="driver-add">
			  		<input type="hidden" name="coords">
			  		<input type="hidden" name="address">

				  	<div class="form-group">
			  			<input type="text" name="name" class="form-control" placeholder="ФИО">
			  			<div class="invalid-feedback">Заполните это поле.</div>
			  		</div>
			  		<div class="form-group">
			  			<input type="text" name="phone" class="form-control" placeholder="Номер телефона">
			  			<div class="invalid-feedback">Заполните это поле.</div>
			  		</div>
			  		<div class="form-group">
			  			<input type="text" id="suggest-add-driver" class="form-control" placeholder="Начните вводить адрес">
			  			<div class="invalid-feedback">Заполните это поле.</div>
			  		</div>
			  		<div class="btn btn-primary btn-block" type="submit"><i class="fal fa-plus mr-2"></i> Добавить</div>
			  	</form>
			  </div>
			  <!-- <div class="modal-footer">
			    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			    <button type="button" class="btn btn-primary">Save changes</button>
			  </div> -->
			</div>
		</div>
	</div>

	<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			  <div class="modal-header">
			    <span class="modal-title" id="importModalLabel">Импорт водителей</span>
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			      <span aria-hidden="true">&times;</span>
			    </button>
			  </div>
			  <form class="modal-body" onSubmit="return false;">
			  	<div class="row">
			  		<div class="col-md-6">
			  			<select name="status" id="importStatus" class="form-control form-control-sm">
							<option value="1">Не редактировали - Серый</option>
							<option value="2">Ассенизатор, туалеты - Желтый</option>
							<option value="3">Биотуалеты - Оранжевый</option>
							<option value="4">Илосос - Фиолетовый</option>
							<option value="5">Обслуживание септика - Коричневый</option>
							<option value="6">Чистка колодцев, гидродинамика - Синий</option>
							<option value="7">Наши заказы - Бирюзовый</option>
							<option value="8">На другой случай - Тёмно-серый</option>
			  			</select>
			  		</div>
				  	<label for="importFile" class="col-md-6 text-center">
				  		<button class="btn btn-primary btn-block btn-sm" onClick="$('#importFile').click()"><i class="fal fa-upload mr-2"></i> Загрузить файл</button>
			  			<input type="file" id="importFile" class="hidden">
			  		</label>
		  		</div>
			  </form>
			</div>
		</div>
	</div>

	<script src="https://browser.sentry-cdn.com/4.0.5/bundle.min.js" crossorigin="anonymous"></script>
	<script>
	(function () {
	  'use strict';
	  Sentry.init({ dsn: 'https://632d282c646c4ef18a3055a55c362bf6@o448238.ingest.sentry.io/5429282' });
	  var helloEl = document.getElementById('hello');
	  var errorEl = document.getElementById('error');
	  var outputEl = document.getElementById('output');
	  // helloEl.addEventListener('click', handleHelloClick);
	  // errorEl.addEventListener('click', handleErrorClick);
	  function handleHelloClick() {
	    outputEl.innerHTML = 'Hello World';
	    try {
	      throw new Error('Caught');
	    } catch (err) {
	      Sentry.captureException(err);
	    }
	  }
	  function handleErrorClick() {
	    throw new Error('Uncaught');
	  }
	})();
	</script>
	<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=c771b593-9146-4c6d-86e0-419a8073f150" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script src="/socket.io/socket.io.js"></script>
	<script src="/client/point.js"></script>
	<script src="/client/popup.js"></script>
	<script src="/client/map.js"></script>
	<script>
		var socket, map;
		ymaps.ready(function () {
		    socket = io('<%= socket.host %>');
		    map = new Map('map', socket);

			socket.on('init', function(data){
				map.addPoints(data.addresses);

				socket.on('editDriver', data => {
					map.edit(data.id, data);
				})

				socket.on('moveDriver', data => {
					// map.move(data.id, data);
				})


				socket.on('addAddress', item => {
					// map.addAddress(item);
					map.addAddress(item);
				})

				socket.on('editAddress', item => {
					map.addresses[item.driverId][item.id].update(item);
				})

				socket.on('moveAddress', data => {
					map.move(data.id, data);
				})

				socket.on('removeAddress', item => {
					map.removeAddress(item.id, item);
				})

			})
		});
	</script>
	<<!-- script src="//cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->

</body>
</html>